@charset "utf-8";
html{
    font-size: 62.5%;/* 16px × 62.5% = 10px*/
}

/*body以下のCSS*/

/*全体*/

section{
    margin: 60px 0;
}

.wrap{
    width: 136.6rem;
    margin: auto;
}

body{
    color: black;
    font-family:"Open Sans",'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
    font-size: 1.6rem;
}

.text{
    text-align: center;
}


h1{
    font-size: 2.4rem;
    font-weight: bold;
  }

  .title-yellow{
      color: #ffd61a;   
  }
  
  h2{
      font-size: 1.8rem;
      padding: 30px 0 60px 0;
      line-height: 2;
      /*上30下60*/
  }
  
  p{
      font-size: 1.6rem;
      line-height: 2;
    /*行間にスキマを作る*/
  }
  

img{
    max-width: 100%;
    max-height: 100%;
    /*画像がWEBページやスマホ画面に合わせて伸縮するように指示*/
}
  


/*headerのCSS*/

.header{
    margin: auto;
    max-width: 136.6rem;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-list{
    display: flex;
}

.nav-item{
    margin: 50px 0 50px 50px;
    font-size: 2.1rem;
}

/*bodyのCSS*/

    /*メインビジュアル*/

        .mainvisual{
            text-align: center;
            position: relative;
        } 

        .mainvisual-text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate3d(-50%,-50%,0)

        }
    
        .main-text1{
            font-size: 4.2rem;
            font-style: bold;
            color: white;
            padding: 0 0 30px;

        }

        .main-text2{
            font-size: 2.8rem;
            color: white;
        }


    /*ABOUTのCSS*/
        
 

        .about-wrap{
            width: 136.6rem;        
            margin: auto;
        }

        .about-text{
            padding: 4.0rem;
        }

        .about-list{
            display: flex;
            width: 100%;
            margin-top: 8.0rem;
        }

    /*COURSEのCSS*/

        .course-wrap{
            width: 136.6rem;
            margin: auto;
        }

        .course-img{
            text-align: right;
            height: 464px;
            width: 684px;
        }

        .course-textblock1{
            text-align: left;
            margin: 120px 0 120px 50px;
            width: 68.3rem;
        }

        .course-textblock2{
            text-align: left;
            margin: 120px 50px 120px 0;
            width: 63.0rem;
        }

        .course-text2{
            font-weight: bold;
            margin: 0 0 40px;
        }

        .course-list{
           
            
        }

        .course-item{
            display: flex;
            margin: auto;

        }



    /*NEWSのCSS*/

        .news-wrap{
            width: 136.6rem;
            margin: auto;            
        }

        .news-list{
            display: flex;
            margin: 0 0 6.0rem;
            justify-content: center;

        }
        
        .news-item{
            width: 300px;
            padding: 0 1.5rem;

        }

        .news-eyecatch{
            margin: 0 0 30px;
        }


      
        .news-date{
            margin: 0 0 2.4rem;
            text-align: left;
        }

        
        .btn{
            width: 30rem;
            display: block;
            margin: auto;
            padding: 2.1rem 0;
            text-align: center;
            font-size: 1.8rem;
            background-color: #ffd61a;
            color: #fff;
        
        }


    /*ACCESSのCSS*/
        .access-wrap{
            width: 136.6rem;
            margin: auto;
            background-color: #fafafa;
            padding: 60px 0 60px;
        }

        .access-inner{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            margin: auto;
            width: 50%;
            line-height: 50px;
            
        }

        .access-title{
            width: 40%;
            text-align: left;                        
        }


        .access-item{
            width: 60%;
            text-align: left;
        }

    /*CONTACTのCSS*/

        .contact-wrap{
            width: 64.0rem;
            margin: auto;
            margin-bottom: 14.0rem;
            
        }

        
        .contact-text2{
            margin: 30px 0 70px;
        }

        .form-inner{
        
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            margin: 0 0 3.0rem;
            border-top: solid 2px #bfbfbf;
        
        }

        .form-title{
            width: 16.0rem;
            height: 20px;            
            padding: 8px 64px 8px 16px;
            text-align: left; 
           
            border-bottom: solid 2px #bfbfbf;     
                  
        }

        .form-text{
            font-weight: bold;
        }

        .form-item{
            width: 39.8rem;
            padding: 8px;
            text-align: left;
            border-bottom: solid 2px #bfbfbf;
            border-left: solid 2px #bfbfbf;
         
        }

        .form-parts{
            font-size: 1.6rem;
            box-sizing: border-box;
            
            padding: 8px;
        }

        .input-size{
            width: 328px;
        }

        .form-select1{
            height: 40px;
        }

        .form-select2{
            width: 38.2rem;
            height: 40px;
    
  
        }

        .form-radio1{
            height: 90px;
        

        }

        .form-radio2{
            height: 90px;
            width: 38.2rem;
            text-align: left;
            font-size: 14px;                     
        }

        .form-detail1{
            height: 180px;


        }

        .form-detail2{
            height: 180px;
            width: 382px;

        
        }

        

        

/*FOOTERのCSS*/

.footer{
    background-color: #707070;
    padding: 30px 0;
    text-align: center;
}

.copyrights{
    color: #fff;

}